* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

h1 {
    padding-top: 20px;
}

h3 {
    padding-bottom: 50px;
}

form {
    align-content: center;    
}

legend {
    text-align: left;
}

fieldset {
    width: 50%;
    margin: 0 auto;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

li {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI';
    display: inline-block;
    padding: 0 20px;
}

li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 1200px) {
    h1, h3, form, header, li {
        font-size: .80rem;
    }

    fieldset {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    h1, h3, form {
        font-size: .80rem;
    }
    
    fieldset {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    h1, h3, form {
        font-size: .80rem;
    }
    
    fieldset {
        max-width: 100%;
    }
}   