* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 15px;
        
}    

img {
    max-width: 24%;
    padding-top: 10px;
    
}

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

li {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Segoe UI';
    display: inline-block;
    padding: 0 20px;
}

li a {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1200px) {
    img {
        max-width: 32%;
    }

    li {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Segoe UI';
        display: inline-block;
        padding: 0 20px;
    }
    
}

@media screen and (max-width: 800px) {
    img {
        max-width: 49%;
    }

    li {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Segoe UI';
        display: inline-block;
        padding: 0 20px;
    }
    
}

@media screen and (max-width: 600px) {
    img {
        max-width: 99%;
    }

    li {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Segoe UI';
        display: inline-block;
        padding: 0 20px;
    }
    
}